<!DOCTYPE html>
<html lang="en">
{* UI design for login*}
<div id="content" class="container"> 
<hr>
<h3>Login</h3>
<hr>
<div  class="col-xs-12 col-md-6">
<form role="form" id="login_form" name="login_form" method="post" action="LoginAction.php">
<div class="form-group">
<label for="email">Email:</label>
<input type="email" name="user_name" class="form-control" id="email" placeholder="Enter email">
</div>
<div class="form-group">
<label for="pwd">Password:</label>
<input type="password"  name="user_pwd" class="form-control" id="pwd" placeholder="Enter password">
</div>
<div class="checkbox">
<label><input type="checkbox"> Remember me</label>
</div>
<button type="submit" name="LOGIN"  class="btn btn-default">Submit</button>  
</form>
</div>
</div>     






